@page
@model Nissan.Pages.login.DashboardModel
@{
}

<div class="container">
    <div class="row">
        <h1 class="btn btn-danger"><a class="nav-link text-dark" asp-area="" asp-page="/car/Index">Add Car </a></h1><br/>
        <h1 class="btn btn-danger"><a class="nav-link text-dark" asp-area="" asp-page="/Member/Index">Add Members </a></h1>
        <h1 class="btn btn-danger"><a class="nav-link text-dark" asp-area="" asp-page="/Booking/Index">Car Sale</a></h1>
        <h1 class="btn btn-danger"><a class="nav-link text-dark" asp-area="" asp-page="/Salary/Index">Pay Salary </a></h1>

    </div>
</div>